<div class = "mx-auto" style="width: 400px;">
<%= simple_form_for(@planet) do |f| %>
  <%= f.input :name %>
  <%= f.input :detail %>
  <%= f.input :price %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
</div>
