<!DOCTYPE html>
<html>
  <head>
    <title>PlanetBnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <body class="body">
    <nav class="navbar">
      <div class="logo_title">
        <%= image_tag "rocket-png-40798.png", class: "rocket", alt: "rocket"%>
        <h1><%= link_to "Planet bnb", planets_path, class: "title-main" %></h1>
      </div>
      <div class="end-navbar">
        <%= link_to "Add a new planet", new_planet_path, class: "new-planet" %>
        <div class="drop-avatar">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
          <div class="dropdown mr-5">
            <button class="btn btn-secondary rounded-pill" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-list"></i></button>
            <ul class="dropdown-menu rounded-5 dropdown-menu-end dropdown-menu-dark mt-3">
              <% if current_user == nil %>
                <li><%= link_to "Connexion", new_user_session_path, class:"btn dropdown-item" %></li>
                <li><%= link_to "Inscription", new_user_registration_path, class:"btn dropdown-item" %></li>
              <% else %>
                <li><%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn dropdown-item" %></li>
                <li><%= link_to "Mes réservations", bookings_path, class:"btn dropdown-item" %></li>
              <% end %>
            </ul>
            </div>
          </div>
        </div>

    </nav>
    <%= yield %>
  </body>
</html>
