<!DOCTYPE html>
<html>
  <head>
    <title>PlanetBnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <body class="body">
    <nav class="navbar">
      <div class="logo_title">
        <h3>Logo</h3>
        <a href="#">Planet Bnb</a>
      </div>
      <div class="end-navbar">
        <%= link_to "Add a new planet", new_planet_path %>
        <%= image_tag("https://www.iconpacks.net/free-icon/user-profile-4255.html")%>
        <div class="dropdown mr-5">
          <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-list"></i>        </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><button class="dropdown-item" type="button">Messages</button></li>
            <li><button class="dropdown-item" type="button">Favoris</button></li>
            <li><button class="dropdown-item" type="button">Voyages</button></li>
          </ul>
        </div>
      </div>

    </nav>
    <%= yield %>
  </body>
</html>
