<!DOCTYPE html>
<html>
  <head>
    <title>PlanetBnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <body class="body">
    <nav class="navbar">
      <div class="logo_title">
      <%= link_to planets_path do %>
        <%= image_tag "rocket-png-40798.png", class: "rocket", alt: "rocket"%>
        <%= "Planet bnb" %>
      <% end %>
      </div>
      <div class="end-navbar">
        <%= link_to "Add a new planet", new_planet_path, class: "text-decoration-none text-light" %>
        <div class="drop-avatar">
          <%= link_to new_user_session_path do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
          <% end %>
          <div class="dropdown mr-5">
            <button class="btn btn-secondary rounded-pill" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-list"></i>        </button>
            <ul class="dropdown-menu rounded-5 dropdown-menu-end dropdown-menu-dark mt-3">
              <li><button class="dropdown-item" type="button">Messages</button></li>
              <li><button class="dropdown-item" type="button">Favoris</button></li>
              <li><button class="dropdown-item" type="button">Voyages</button></li>
            </ul>
            </div>
          </div>
        </div>

    </nav>
    <%= yield %>
  </body>
</html>
